HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
src/utils/

frontend/quizi/node_modules
frontend/quizi/package-lock.json

src/components/
src/utils/general-utils.js
frontend/quizi/src/components/
frontend/quizi/src/utils/general-utils.js
node_modules/
package-lock.json
src/main/resources/static/
src/main/resources/templates/
